# dependencies
/node_modules

# dotenv environment files
.env
.env.local

# logs
logs
*.log
npm-debug.log*

# uploads or temp files
/uploads
/tmp
/dist

# OS or IDE junk
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# coverage from test tools
coverage

# system files
*.swp
